<div class="container">
  <h2>Order Information</h2>
  <strong>Order ID: </strong><%= @order.id %>
  <strong>Product Name: </strong><%= @order.product.name %>
  <strong>Total Price: </strong><%= number_to_currency(@order.total/100.to_f) %>
</div>
