<div class="content">
  <div class="panel-default">
    <div class="panel-body">
      <p id="notice">Thank you for your payment!
      <br> We have recieved payment, and will be sending your product soon!
    </div>
  </div>
</div>
